ul.nav.nav-pills
  li: a(href="/generic") General
  li.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown") Evaluation
      b.caret
    ul.dropdown-menu
      li: a(href="/evaluation/geosummarizer") Geosummarizer
      li: a(href="#" id="underconstruction") Tomtom
      li: a(href="#" id="underconstruction") Loqate
      li: a(href="#" id="underconstruction") Geoquality
