ul.nav.nav-pills
  li: a(href="/generic") General
  li.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown") Evaluation
      b.caret
    ul.dropdown-menu
      li: a(href="/evaluation/tomtom") Tomtom
      li: a(href="/evaluation/loqate") Loqate
      li: a(href="/evaluation/geoquality") Geoquality
      li: a(href="/evaluation/geosummarizer") Geosummarizer
