extend ../layout

block head-addition
  include assets

block body-block
  #geosummarizerBody

block body-addition
  #geosummarizerStorage.hide(geosummarizer-data-url=geosummarizerDataUrl, geosummarizer-run-rul=geosummarizerRunUrl)

  script.
    $(window).load(function() {
      loadPage();
    });
