extend ../layout

block head-addition
  include assets

block body-block
  canvas#chartBody(width='400', height='160')

block body-addition
  #chartStorage.hide(chart-data-url=chartDataUrl, country-code=countryCode)

  script.
    $(window).load(function() {
      loadPage();
    });
